@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .input-field {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 70%;
        font-size: 16px;
        margin-left: 8px;
    }

    .textarea-message {
        height: 150px;
        resize: none;
    }
    html {
        scroll-behavior: smooth;
    }
}
